* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Monospace;
    color: #220000;
}

ul.navbar {
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    background-color: #001580;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: right;
}

li.navitem {
    display: inline;
    margin-right: 20px;
}

a.navlink {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

:root {
    --branco: rgb(255, 255, 255);
    --azul: #001580;
}

.area-login-cadastro {
    display: flex;
    justify-content: center;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.login-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul);
    width: 500px;
    height: auto;
    padding: 40px;
    border-radius: 10px;
}

.login-cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.login-cadastro input {
    margin-top: 10px;
    background-color: var(--branco);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}

.login-cadastro p {
    color: var(--branco);
    color: var(--branco);
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}

.login-cadastro img {
    width: 150px;
    height: auto;
}

.login-cadastro::placeholder {
    color: var(--branco);
    font-size: 14px;

}

form [type="submit"] {
    display: block;
    background-color: var(--branco);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 6px;
    font-size: 14px;
    font-weight: bold;
}

.botao {
    width: 150px;
    height: 45px;
    display: block;
    background-color: var(--branco);
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    font-size: 16px;
    border-radius: 25px;
    color: var(--azul);
    border: none;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

footer {
    padding: 40px 4%;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid var(--azul);
}

footer .line-footer p i {
    color: var(--black);
    font-size: 22px;
}

footer .line-footer p a {
    color: var(--black);
}

.rodape {
    font-size: 12px;
}